$color_1: #4d4c4f;
$color_2: #000;
$color_3: #fff;
$color_4: #ee6e25;
$color_5: red;
$color_6: #FFF;
$color_7: #B2B2B2;
$color_8: #3A4750;
$color_9: #FFFFFF;
$color_10: #3CB3E6;
$color_11: #707070;
$color_12: #1A1D20;
$color_13: #ced4da;

$background-color_1: #fff;
$background-color_2: #f8f8fa;
$background-color_3: #2b2b2b;
$background-color_4: #121212;
$background-color_5: #38B4E7;
$background-color_6: #F5FBFF;
$background-color_7: #3CB3E6;
$background-color_8: #F7F7F7;
$background-color_9: #FBFBFB;
$background-color_10: #FFF;
$background-color_11: #000;
$background-color_12: #C50101;
$background-color_13: #2F5C9C;
$background-color_14: #F5FBFE;
$background-color_15: #3A4750;
$background-color_16: #f2f2f2;
$background-color_17: #000000;